#about {
  padding-bottom: 2rem;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#about h2 {
  font-size: 45px;
  font-weight: 300;
  letter-spacing: 2px;
  margin-bottom: 20px;
  text-transform: capitalize;
}

#about h2:nth-child(2) {
  font-weight: 100;
  margin-bottom: 0;
}

#about p {
  font-weight: 300;
  margin: 5rem 0;
  font-size: large;
}

#about .clients {
  padding: 12px 0;
  text-align: center;
}

#about .clients img {
  max-width: 45%;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  padding: 16px 0;
  -webkit-filter: grayscale(100);
  filter: grayscale(100);
}

#about .clients .client:hover img {
  -webkit-filter: none;
  filter: none;
  transform: scale(1.1);
}
body {
  background-image: none
}