.counter {
  font-size: 1.5rem;
  height: 1.75rem;
  display: flex;
  overflow: hidden;
  justify-content: center;
}
.counter > span {
  display: flex;
  flex-direction: column;
  transition: transform 1.8s ease;
}
