/* Core Sans */

@font-face {
  font-family: 'Core Sans';
  src: url('../CoreSansD15Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Core Sans';
  src: url('../CoreSansD15Thin-Italic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Core Sans';
  src: url('../CoreSansD25Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Core Sans';
  src: url('../CoreSansD25Light-Italic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Core Sans';
  src: url('../CoreSansD35Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Core Sans';
  src: url('../CoreSansD35Regular-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Core Sans';
  src: url('../CoreSansD45Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Core Sans';
  src: url('../CoreSansD45Medium-Italic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Core Sans';
  src: url('../CoreSansD55Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Core Sans';
  src: url('../CoreSansD55Bold-Italic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Core Sans';
  src: url('../CoreSansD65Heavy.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Core Sans';
  src: url('../CoreSansD65Heavy-Italic.otf') format('opentype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Core Sans';
  src: url('../CoreSansD75Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Core Sans';
  src: url('../CoreSansD75Black-Italic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
}

/* Core Sans Condensed */

@font-face {
  font-family: 'Core Sans Condensed';
  src: url('../CoreSansD17CnThin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Core Sans Condensed';
  src: url('../CoreSansD17CnThin-Italic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Core Sans Condensed';
  src: url('../CoreSansD27CnLight.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Core Sans Condensed';
  src: url('../CoreSansD27CnLight-Italic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Core Sans Condensed';
  src: url('../CoreSansD37CnRegular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Core Sans Condensed';
  src: url('../CoreSansD37CnRegular-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Core Sans Condensed';
  src: url('../CoreSansD47CnMedium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Core Sans Condensed';
  src: url('../CoreSansD47CnMedium-Italic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Core Sans Condensed';
  src: url('../CoreSansD57CnBold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Core Sans Condensed';
  src: url('../CoreSansD57CnBold-Italic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Core Sans Condensed';
  src: url('../CoreSansD67CnHeavy.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Core Sans Condensed';
  src: url('../CoreSansD67CnHeavy-Italic.otf') format('opentype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Core Sans Condensed';
  src: url('../CoreSansD77CnBlack.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Core Sans Condensed';
  src: url('../CoreSansD77CnBlack-Italic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
}
