body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}
#mainSection {
  background: url("Images/first_screen_tower.svg") no-repeat right top, linear-gradient(135deg, #15192E 75%, #EA970A 25%);
  color: white;
}
.nav-item{
  margin-left: 1em;
}
#firstScreen{
  left: 0px;
  top: 0px;
}
.nav-link{
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
}
.nav-link:hover{
  color: #EA0A0A;
}
#firstScreen{

}
.phone{
  font-size: 15px;
  line-height: 18px;
}
h1{
  margin-top: 2em;
  text-align: left;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;
  line-height: 56.35px;
}
.secheader{
  margin-top: 1em;
  text-align: left;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
}
.def-button{
    background-color: #EA0A0A;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);
    border: none;
    color: white;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 240px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.def-button:hover{
  text-decoration: none;
  background-color: #d40808;
  color: white;
}
.def-button:active{
  background-color: #EA0A0A;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.3);
}
.main-screen-button{
  margin-top: 2em;
}
hr{
  margin-top: 8em;
  border: 0;
  height: 2px;
  background: linear-gradient(135deg, #EA970A  73%, #C1C1C1 27%);
}
.item-mini-advantages{
  margin-left: 4em;
}
.mini-advantages{
}
.col{
  padding: 0px;
}
#advantages{
  margin-top: 5em;
  margin-bottom: 5em;
}
.social{
  margin-right: 16em;
}
.advantages-item{

}
.advantages-item-img{
  margin: 0 auto;
  align: center;
}
#videoPlayer{
  z-index: 09;
}
#play_button{
  position: absolute;
  top: 40%;
  left: 40%;
  height: 100px;
  width: 100px;
  z-index: 900;
  background-repeat: no-repeat;
  background: url("Images/Play_button.svg");
  background-size: contain;
  padding: 0;
  border: none;
  outline: none;
}
#preVideoText{
  position: absolute;
  top: 60%;
  left: 20%;
  font-weight: 300;
  font-style: italic;
  font-size: 18px;
  color: white;
}
.postHeader{
  color: #EA970A;
  font-weight: 300;
  font-style: italic;
  font-size: 18px;
}
.OnasHeader{
  font-weight: 700;
  font-size: 34px;
}
#aboutUs{
  margin-bottom: 2em;
}
#aboutYou{
  margin-bottom: 2em;
}
.card-title{
  font-weight: 700;
  font-size: 22px;
  align: center;
  color: white;
}
.card-subtitle{
  font-weight: bold;
  font-size: 18px;
  align: center;
  color: #EA970A;

}
.priceText{
  font-weight: 700;
  font-size: 44px;
  align: center;
  color: #EA970A;
}
.card-header{
  background: #15192E;
}
.card-body{
  font-weight: normal;
  font-size: 15px;
  border-color: black;
}
.card{
  box-shadow: 0px 8px 9px -3px rgba(0,0,0,0.36);
}
.item-button{
  margin-top: 1em;
  margin-bottom: 1em;
}
.cardPartButton{
  padding-top: 0;
  padding-bottom: 0;
}
#cta{
  background: linear-gradient(55deg, #15192E 75%, #EA970A 25%);
  color: white;
  padding-top: 4em;
  padding-bottom: 4em;
}
.ctaHeader{
  font-weight: 400;
  font-size: 34px;
}
.gform{
  margin-top: 3em;
}
#submit{
  background: red;
  color: white;
  border-radius: 0px;
  border: none;
  height: 60px;
}
#email{
  height: 60px;
  border-radius: 0px;
}
#name{
  height: 60px;
  border-radius: 0px;
}


#review{
  background: url("Images/towerQA.svg") no-repeat center, linear-gradient(90deg, #E2E2E2 50%, #FFFFFF 50%);

}
#QA{
  background: url("Images/towerQA.svg") no-repeat center, linear-gradient(90deg, #FFFFFF  50%, #E2E2E2 50%);

}
.reviewHeader{
  font-weight: 700;
  font-size: 34px;
  margin-top: 2em;
}
.leftReview{}
.carousel .carousel-indicators li {
  background-color: #fff;
  background-color: rgba(70, 70, 70, 0.25);
}

.carousel .carousel-indicators .active {
  background-color: #EA970A;
}
.carousel-indicators{
  bottom: -40px;
}
.fullLine{
    margin-top: 0;
    border: 0;
    height: 2px;
    background: #EA970A;
}
.urQuestHed{
  margin-left: 1em;
}
.rightQA{
  margin-left: 5em;
  padding-bottom: 2em;
}

.collapseButton:focus { outline: none; }
.collapseButton:active{
  border: none;
  outline: none;
}
.collapseButton{
  border: none;
  text-align:center;
  vertical-align:middle;
  height: 16px;
  outline: none;
}
.wrapper{
  margin-left: 1em;
}
#footer{
    background: linear-gradient(135deg, #15192E 50%, #EA970A 50%);
}
.text-modal-from{
  color: rgba(61, 61, 61, 0.3);

}
.modal-thanks-body{
  height: 300px;
}
